@font-face {
    font-family: 'Itim';
    src: url('/static/fonts/itimcyrillic.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('/static/fonts/ethnocentricrus_lat_extra_expandedregular.otf') format('opentype');
    font-display: swap;
}

body {
    font-family: 'Itim', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #d5d5d5;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-bottom: 3px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
    flex: 1;
    padding: 30px 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    min-height: 300px;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/static/images/mini_logo.jpg);
    background-size: 239px 235.5px;
    opacity: 0.2;
    z-index: -1;
}

footer {
    background-color: #000000;
    text-align: center;
    border-top: 3px solid orange;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
    padding: 25px 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-soc-image-button {
    height: 45px;
    width: 45px;
    transition: all 0.3s ease;
    filter: brightness(0) saturate(100%) invert(61%) sepia(23%) saturate(6215%) hue-rotate(1deg) brightness(107%) contrast(107%);
    display: block;
}

.header-logo {
    height: 90px;
    width: auto;
}

.pravo {
    height: 150px;
    width: auto;
    max-width: 400px;
    margin-left: auto; !important;
}

.levo {
    height: 150px;
    width: auto;
    max-width: 400px;
    margin-right: auto; !important;
    right: 50px;
}