<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMEHUB</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/mini_logo.jpg" type="image/jpeg">
</head>
<body>
    <header>
        <nav class="header-nav">
            <img class="levo" src="/static/images/levo.png" alt="">
            <a href="/">
                <img class="header-logo" src="/static/images/GAMEHUB.png" alt="Главное меню">
            </a>
            <img class="pravo" src="/static/images/pravo.png" alt="">
        </nav>
    </header>

    <main class="main">
        <nav class="main-nav">
            <img class="price" src="/static/images/price.png" alt="прайс лист">
        </nav>

        <div class="center-block">
            <div class="address-text">
                PC-CLUB<br><br>
                WORKTIME 24/7<br>
                <span>📍 Адрес: Бакинская 20, 4 подъезд</span><br>
            </div>
            <br><br><br><br>
            <nav class="about-nav">
                <a href="/bron" class="nav-title">брони</a>
                <br><br><br>
                <a href="/about" class="nav-title">еще о нас</a>
            </nav>
        </div>

        <nav class="cfg-nav">
            <img class="cfg" src="/static/images/cfg.png" alt="конфигурация">
        </nav>
    </main>

    <footer>
        <a href="https://t.me/gamehub163" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
            <img class="main-soc-image-button" src="/static/images/tg.png" alt="Telegram">
        </a>
        <a href="https://t.me/brongamehub" target="_blank" rel="noopener noreferrer" aria-label="Telegram Chat">
            <img class="main-soc-image-button" src="/static/images/message.png" alt="Чат">
        </a>
    </footer>
</body>
</html>