<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMEHUB</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/mini_logo.jpg" type="image/jpeg">
</head>
<body>
    <header>
        <nav>
            <img class="levo" src="/static/images/levo.png">
                <a href="/">
                    <img class="header-logo" src="/static/images/GAMEHUB.png" alt="Главное меню">
                </a>
            <img class="pravo" src="/static/images/pravo.png">
        </nav>
    </header>

    <main>
        <style>
            a {
                font-size: 100px;
            }

        </style>
        <a>PENISI & T1TbK1              DESEPTICONI WW</a>
    </main>

    <footer>
        <a href="https://t.me/gamehub163" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
            <img class="main-soc-image-button" src="/static/images/tg.png" alt="">
        </a>
        <a href="https://t.me/brongamehub" target="_blank" rel="noopener noreferrer" aria-label="Telegram Chat">
            <img class="main-soc-image-button" src="/static/images/message.png" alt="">
        </a>
    </footer>
</body>
</html>